@import "tailwindcss";

:root {
  /* --- DARK MODE (Origin/Default) --- */

  /* Backgrounds */
  --val-bg-deep: #0c1222;
  --val-bg-card: #1E293B;
  --val-bg-subtle: #334155;

  /* Accents */
  --val-primary: #380571;
  --val-secondary: #818CF8;
  --val-success: #34D399;

  /* Components */
  --val-ring-active: #D1E0EB;
  --val-ring-inactive: #ACBDCD;
  --val-gold-border: #83796b;
  --val-dashed: #494F52;
  --val-text-block: #B0A99F;
  --val-duration-bg: #2D3132;

  /* Text */
  --val-text-main: #F1F5F9;
  --val-text-muted: #94A3B8;
}

html.light {
  /* --- LIGHT MODE --- */

  /* Backgrounds */
  --val-bg-deep: #F8FAFC;
  --val-bg-card: #FFFFFF;
  --val-bg-subtle: #E2E8F0;

  /* Accents */
  --val-primary: #C084FC;

  /* Components */
  --val-ring-active: #4F46E5;
  --val-ring-inactive: #CBD5E1;
  --val-gold-border: #B45309;
  --val-dashed: #CBD5E1;
  --val-text-block: #475569;
  --val-duration-bg: #F1F5F9;

  /* Text */
  --val-text-main: #0F172A;
  --val-text-muted: #64748B;
}

@theme {
  --color-bg-deep: var(--val-bg-deep);
  --color-bg-card: var(--val-bg-card);
  --color-bg-subtle: var(--val-bg-subtle);

  --color-primary: var(--val-primary);
  --color-secondary: var(--val-secondary);
  --color-success: var(--val-success);

  --color-ring-active: var(--val-ring-active);
  --color-ring-inactive: var(--val-ring-inactive);
  --color-gold-border: var(--val-gold-border);
  --color-dashed: var(--val-dashed);
  --color-text-block: var(--val-text-block);
  --color-duration-bg: var(--val-duration-bg);

  --color-text-main: var(--val-text-main);
  --color-text-muted: var(--val-text-muted);

  --font-sans: 'Outfit', sans-serif;
  --radius-3xl: 24px;
}

@layer base {
  body {
    @apply bg-bg-deep text-text-main font-sans antialiased overflow-y-auto;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}